body{
  background-color: wheat;
}
.container{
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #014A43;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border: black 1px solid;
  color: wheat;
  text-align: right;
  height: 420px;
}

.container input{
  margin-bottom: 12px;
  background-color: transparent;
  border: 1px solid #EF754F;
  padding: 14px;
  width: 280px;
  border-radius: 10px;
  /* position: relative; */margin-left: 29rem;
  color: wheat;
}
.registration-form{
  padding: 20px;
  border-radius:8px ;
  width: 20rem;
}
.container img{
position: absolute;
left: 17%;
top: 3%;
height: 550px;
filter: brightness(75%);
}
.container button{
  width: 310px;
  height: 50px;
  background-color: #EF754F;
  border: solid 2px #EF754F;
  background-color: #EF754F;
  border-radius: 25px;
  color: wheat;
  margin-left: 29rem;
}
.container button:hover{
  background-color: white;
  color: black;
}
.parameters{
  display: flex;
  column-gap: 4px;
}
.parameters select{
 height:45px;
 width: 95px;
 background-color: #EF754F;
 color: wheat;
}
.parameters input{
width: 180px;
}
#loginlink:hover{
  color: white;
}
